DATABASE_URL="mysql://doadmin:show-password@db-mysql-nyc3-63157-do-user-29370123-0.j.db.ondigitalocean.com:25060/boarding_house?ssl-mode=REQUIRED"
NEXTAUTH_SECRET="replace-with-random-string"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="admin"

